@charset "utf-8";
/* CSS Document */

body{
	width: 100%;
	height: auto;
	margin: auto;
}

/*--------------------login page---------------------*/

body.login{
	width: 100%;
	height: auto;
	background-color: #222;	
}
a
{
text-decoration:none;
color:#000000;
}
.form-bg{
	background-color: #FFFFFF;	
	margin-top: 150px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 0px 5px 25px 5px;
}
.input-padding{
	padding-top: 25px;
}
.button-color{
	background-color:#555;
}
.button-color:hover{
	background-color:#222;

}
.button-margintop{
	margin-top: 15px;
}
.img-margintop{
	margin-top: 20px;
}

/*--------------------End of login page---------------------*/


/*--------------------dashboard---------------------*/
.admin-head-color{
	background-color: #222;
}
.dashboard-padding{
	padding-top: 50px;
}
.dashboard-nav-bg{
	background-color:#222;
}
.search-bg{
	background: none;
}
.search-margin{
	margin-top: 20px;
}

.row-bottom-bordr{
	border-bottom: 1px solid #aaa;
	margin: 5px 0px 20px 0px;
}
.lable-padd{
	padding: 10px;
}

.view-inventory-tbl-bg{
	background-color: #5cb85c;
}
.yellow{
	background-color: #FFEA00;
}
.yellow1{
	background-color: #FFEA00;
}
.red{
	background-color: #D9534F;
}
.green{
	background-color: #5cb85c;
}
.white{
	background-color: #fff;
}
.lightblue{
	background-color:#00CCCC;
}
.darkgray
{
background-color:#333333;
color:#FFFFFF;
}



.table1>tbody>tr>td, .table1>tbody>tr>th, .table1>tfoot>tr>td, .table1>tfoot>tr>th, .table1>thead>tr>td, .table1>thead>tr>th {
	padding:0px 0px;
	line-height:1.42857143;
	vertical-align:top;
	text-align:center;
	border-top:1px solid #ddd
}
.table2>tbody>tr>td, .table2>tbody>tr>th, .table2>tfoot>tr>td, .table2>tfoot>tr>th, .table2>thead>tr>td, .table2>thead>tr>th {
	padding:0px 10px;
	line-height:1.42857143;
	vertical-align:top;	
	width:100px;
	border-top:1px solid #ddd
}
.add-detail-input-margin{
	margin-top: 5px 0px;
}

input:required:invalid, input:focus:invalid { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC); background-position: right top; background-repeat: no-repeat; -moz-box-shadow: none;
 }
 input:required:valid { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=); background-position: right top; background-repeat: no-repeat; } 
 #preloader
 {
 position:fixed;
 text-align:center;
 z-index:100000;
 top:40%;
 left:50%;
 background:none;
 display:none;
 
 }

  #back_overlay
  {
  background:#000000;
  opacity:0.7;
  width:100%;
  height:100%;
  position:absolute;
  z-index:10000;
  display:none;
  
  }